* {
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
}

.app .leftSide {
  width: 70%;
  height: 100%;
  background-color: #f3f4f4;
  background: url(./soures/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:70% ;
}

.app .rightSide {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

